/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
    width: 100%;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.content .sidebar ul.u-list-style-type-disc
{
    list-style-type: disc;
    padding-left: 2em;
}

html {
    
}

h1
, h2
, h3
, h4
{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
}

h1
{
    font-size: 2.5em;
}

h2
{
    font-size: 2.0em;
}

h3
{
    font-size: 1.5em;
}

body.technology-services li.technology-services a
, body.technology-services li.technology-services a:visited
{
    color: rgb(255, 191, 145);   
}

body.who-we-are li.who-we-are a
, body.who-we-are li.who-we-are a a:visited
{
    color: rgb(255, 191, 145); 
}

body.pricing li.pricing a
, body.pricing li.pricing a a:visited
{
    color: rgb(255, 191, 145);   
}

body.our-work li.our-work a
, body.our-work li.our-work a a:visited
{
    color: rgb(255, 191, 145);
}

body.blog li.blog a
, body.blog li.blog a a:visited
{
    color: rgb(255, 191, 145);   
}

.big-background-image
{
    background-image: url(/media/courthouse.png);
    background-position: 45% 0;
    background-repeat: no-repeat;
    background-size: 150% auto;
    height: 20em;
}

body {
    background-color: #FEFEFE;
    margin: 0 auto;
    width: 100%;
}

.content {
    margin: 0 auto;
    width: 90%;
    padding-top: 2.8em;
}

.content p 
{
    font-size: 1.0em;
}

.content a {
    color: rgb(0, 154, 200);
    text-decoration: underline;
}

.content ul
{
    list-style-type: none;
    padding: 0;
}

.content .about-us
{
    /*background-image: url(/media/brandy-david-happy.png);
    background-position: -108px -150px;
    background-repeat: no-repeat;
    background-size: auto 890px;*/
    text-align: left;
}

.content .about-us-image
{
    height: 10em;
    margin-left: -10%;
    position: absolute;
    width: 105%;
}

.content .about-us-copy
{
    background-color: rgba(201, 122, 71, 0.9); /* a nice orangy color */
    border-radius: 4px;
    box-shadow: 0 1px 4px #101010;
    color: #FEFEFE;
    display: inline-block;
    margin-top: -7em;
    padding: 10px 15px;
    position: relative;
    max-width: 95%;
}

.content .about-us-copy a
, .content .about-us-copy a:visited
{
    color: #FEFEFE;
    display: block;
    margin-top: 25px;
    text-align: right;
}

.content .about-us-copy h1
, .content .about-us-copy p
{
    /* background-color: hsla(42, 0%, 20%, 0.9); */
    display: inline-block;
    margin-top: 0;
}

.content .bio-image
{
    border-radius: 4px;
    float: right;
    margin-left: 25px;
    margin-bottom: 5px;
    width: 40%;
}

/* Used on the blog, not on the site */
#content h1 a
{
    color: rgb(0, 154, 200);
    text-decoration: none;
}

.content .services-menu-list
{
    list-style-type: none;
    padding: 0;
}

.content .services-menu-list li
{
    background-color: rgb(0, 154, 200);
    background-color: #FEFEFE;
    border: 1px solid black;
    border: 1px solid rgb(0, 154, 200);
    border-radius: 4px;
    display: inline-block;
    font-size: 0.69em;
    padding: 5px;
    margin: 0;
    margin-left: 2px;
    margin-bottom: 3px;
}

.content .services-menu-list li a
{
    color: #FEFEFE;
    color: rgb(0, 154, 200);
    text-decoration: none;
}

.content .sidebar.our-work li
{
    margin-bottom: 2em;
}

.content .sidebar.our-work li img
{
    display: block;
    margin-top: 1em;
}

body.home .content .services-overview
{
    position: relative;
    top: 3em;
}

.content.who-we-are h2
{
    margin-bottom: 5px;
    margin-top: 35px;
}

header#header
{
    background-color: white;
    box-shadow: 0 1px 4px #101010;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.menu-button-container
, .contact-info-container-mobile
{
    font-size: 0.9em;
    left: 0.5em;
    position: absolute;
    top: 16px;
    z-index: 10;
}

.contact-info-container-mobile
{
    left: auto;
    right: 0.5em;
}

.menu-button-container a
, .menu-button-container a:visited
, .contact-info-container-mobile a
, .contact-info-container-mobile a:visited
{
    color: rgb(0, 154, 200);
    text-decoration: none;
}

nav
{
    margin: 0 auto;
    padding: 10px;
    max-width: 90%;
}

div.logo
{
    display: block;
    margin: 0 auto;
    text-align: center;
}

div.logo a
{
    text-decoration: none;
}

span.logo
, span.logo-text
{
    display: inline-block;
    height: auto;
    width: 130px;
}

img.logo.text
{
    margin-left: .20em;
    margin-top: .20em;
}

span.logo
{
    width: 40px;
}

.more-info-link a
{
    background-color: hsla(42, 0%, 20%, 0.8);
    background-color: rgba(201, 122, 71, 0.9); /* a nice orangy color */
    border-radius: 4px;
    box-shadow: 0 1px 4px #101010;
    color: #FEFEFE;
    font-size: 1.0em;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
}

div.main-nav-list-container
{    
    background-color: rgba(201, 122, 71, 0.9); /* a nice orangy color */
    height: 0;
    left: 0;
    margin-top: 2px;
    overflow: scroll;
    position: absolute;
    top: 2.9em;
    visibility: hidden;
    width: 102%;
    white-space: nowrap;
    z-index: 10;
}

nav ul
{
    margin: 0;
    margin-top: 9px;
    width: auto;
}

nav ul li
{
    display: inline-block;
    height: 37px;
    margin-right: 25px;
    text-align: left;
    vertical-align: middle;
    width: auto;
}

nav ul li img.text
{
    height: 25px;
    margin-left: 0;
    margin-top: 14px;
}

nav ul li a
, nav ul li a:visited
{
    color: white;
    display: block;
    text-decoration: none;
    vertical-align: bottom;
}

nav li.logo a
{
    padding-top: 0;
}

nav ul li.active a
{
    color: rgb(0, 154, 200);
}

.contact-info-container
{
    display: none;
}

nav .phone-number
, nav .twitter-container
, nav .email-container
{
    background-color: rgba(140, 65, 252, 1.0);
    background-color: hsla(42, 0%, 20%, 0.8);
    border-radius: 4px;
    bottom: -15px;
    box-shadow: 0 1px 4px #101010;
    color: #FEFEFE;
    display: inline-block;
    font-size: 1.0em;
    margin-right: 15px;
    padding: 5px 10px;
    position: relative;
}

nav .twitter-container a
, nav .twitter-container a:visited
, nav .email-container a
, nav .email-container a:visited
, nav .phone-number a
, nav .phone-number a:visited
{
    color: #FEFEFE;
    text-decoration: none;
}

nav .twitter-image
{
    width: 24px;
}

.important-info-callout
{
    float: right;
    margin-top: 0px;
    width: 40%;
}

.services-list
{
    list-style-type: none;
    padding: 0;
}

.services-list-icon-container
, .services-list-copy-container
{
    display: inline-block;
    vertical-align: top;
}

.services-list-copy-container
{
    width: 75%;
}

.services-list-icon-container
{
    width: 20%;
}

.services-list-icon.website-building
{
    margin-left: 3px;
    margin-top: 27px;
    width: 90%;
}

.services-list-icon.website-maintenance
{
    margin-left: 10%;
    margin-top: 36px;
    width: 90%;
}

.services-list-icon.testing
, .services-list-icon.documentation
, .services-list-icon.training
, .services-list-icon.web-application-development
{
    margin-left: 12px;
    margin-top: 20px;
    width: 80%;
}

.services-list-icon.testing
{
    margin-top: 34px;
}

.services-list-icon.documentation
{
    margin-top: 36px;
}

.services-list-icon.training
{
    margin-top: 36px;
}

.services-list-icon.business-process-guidance
{
    margin-left: 17px;
    margin-top: 40px;
    width: 65%;
}

.services-list-icon.web-application-development
{
    margin-top: 34px;
}

.services-list-icon.ios-app-development
{
    margin-left: 15px;
    margin-top: 36px;
    width: 80%;
}

.services-list-icon.not-listed
{
    margin-left: 25px;
    margin-top: 37px;
    width: 50%;
}

.shepherd-dog
{
    clear: both;
}

.shepherd-dog-image
{
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 8px;
    position: relative;
    vertical-align: top;
    width: 60%;
}

.shepherd-dog-image img
{
    border-radius: 4px;
    display: block;
    margin: 0;
    width: 100%;
}

.image-caption
{
    background-color: hsla(42, 0%, 20%, 0.8);
    border-bottom-right-radius: 4px;
    bottom: 0;
    color: #FEFEFE;
    font-size: 0.45em;
    padding: 2px 5px;
    position: absolute;
    right: 0;
}

/* only affect blog.shepherddog.co currently */
#sidebar
{
    /*display: none;*/
}

div#main .sleeve .content
, div#main .sleeve .sidebar
{
    display: inline-block;
    vertical-align: top;
}

div#main .sleeve #content
{
    width: 100%;
}

div#main .sleeve #sidebar
{
    margin-left: 0;
    margin-top: 25px;
    width: 100%;
}
/* END only affect blog.shepherddog.co */

.shepherd-dog-copy
{
}

footer
{
    font-size: 0.5em;
    margin-top: 100px;
    margin-top: 30em;
    position: relative;
    width: 100%;
}

footer > div
{
    margin: 0 auto;
    max-width: 90%;    
    padding: 15px 10px;
}

footer .columns
{
    display: inline-block;
    padding: 5px;
    vertical-align: top;
    width: 32%;
}

footer .columns:nth-child(even)
{
    text-align: center;
}

#imgTexas {
    height:20px;
    width:20px;
    background-color:transparent;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-device-width: 600px), only screen and (min-device-width: 325px) and (max-device-width: 600px) and (orientation: landscape) /* targeting iPhone 6 Plus */
{
    /* Style adjustments for viewports that meet the condition */

    body
    {
        font-size: 1em;
        height: 100%;
        overflow-x: hidden;
        position: relative;
    }

    body.home .content
    {
        padding-top: 2.0em;
    }

    body.technology-services li.technology-services a
    , body.technology-services li.technology-services a:visited
    {
        color: rgb(0, 154, 200);   
    }

    body.who-we-are li.who-we-are a
    , body.who-we-are li.who-we-are a a:visited
    {
        color: rgb(0, 154, 200);   
    }

    body.pricing li.pricing a
    , body.pricing li.pricing a a:visited
    {
        color: rgb(0, 154, 200);   
    }

    body.our-work li.our-work a
    , body.our-work li.our-work a a:visited
    {
        color: rgb(0, 154, 200);   
    }

    body.blog li.blog a
    , body.blog li.blog a a:visited
    {
        color: rgb(0, 154, 200);   
    }
	
	.content 
    {
       max-width: 1000px;
       padding-top: 6em;
       position: relative;
	}

    .content .with-sidebar
    , .content .sidebar
    {
        display: inline-block;
        vertical-align: top;
    }

    .content .with-sidebar
    {
        width: 60%;
    }

    .content .sidebar
    {
        margin-left: 4.5%;
        margin-top: 2%;
        width: 25%;
    }

    .content .about-us
    {
        text-align: left;
    }

    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 0;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 50em;
    }

    .content .about-us-image
    {
        height: 600px;
        margin-left: -24.3%;
        padding-top: 0;
        position: static;
        width: 140%;
    }

    .content .about-us-copy
    {
        color: #FEFEFE;
        display: inline-block;
        margin-top: -5em;
        position: relative;
        top: 0;
        width: 40%;
    }

    body.home .content .services-overview
    {
        display: inline-block;
        margin-left: 5%;
        top: 0;
        width: 50%;
    }

    header#header
    {
        white-space: nowrap;
    }

	#imgTexas {
       background-color: transparent;
	   height: 50px;
	   width: 50px;
	}

    div.contact-info-container
    {
        display: block;
        position: absolute;
        right: 30px;
        top: 85px;
    }

    footer
    {
        font-size: 0.7em;
        margin-top: 100px;
    }

    footer > div
    {
        margin: 0 auto;
        max-width: 1000px;
    }

    .important-info-callout
    {
        float: right;
        margin-top: -60px;
        width: 35%;
    }

    .menu-button-container
    , .contact-info-container-mobile
    {
        display: none;
    }

    div.logo
    {
        display: inline-block;
        margin: 0;
        text-align: left;
    }

    span.logo
    , span.logo-text
    {
        display: inline-block;
        width: 176px;
    }

    span.logo
    {
        height: 50px;
        width: 50px;
    }

    nav .logo img.logo.text
    {
        margin-left: 5px;
        margin-top: 10px;
    }

    nav
    {
        max-width: 1000px;
        position: relative;
    }

    div.main-nav-list-container
    {
        background-color: transparent;
        display: inline-block;
        height: auto;
        margin-left: 2em;
        overflow: hidden;
        position: static;
        vertical-align: -8px;
        visibility: visible;
        width: auto;
    }

    nav ul
    {
        display: inline-block;
        margin: 0;
        padding: 0;
        vertical-align: -7px;
    }

    nav ul li
    {
        display: table-cell;
        height: auto;
        padding: 0 1em;
        text-align: center;
    }

    nav ul li a
    , nav ul li a:visited
    {
        color: black;
    }

    nav ul li.active a, nav ul li a:hover
    {
        color: rgb(0, 154, 200);
    }

    nav .phone-number
    , nav .twitter-container
    , nav .email-container
    {
        background-color: rgba(140, 65, 252, 1.0);
        background-color: hsla(42, 0%, 20%, 0.8);
        background-color: rgba(201, 122, 71, 0.9);
        border-radius: 4px;
        bottom: auto;
        color: #FEFEFE;
        font-size: 0.8em;
        left: auto;
        margin: 0;
        padding: 5px 10px;
        position: relative;
    }

    nav .twitter-container a
    , nav .twitter-container a:visited
    , nav .email-container a
    , nav .email-container a:visited
    , nav .phone-number a
    , nav .phone-number a:visited
    {
        color: #FEFEFE;
        text-decoration: none;
    }

    nav .twitter-image
    {
        vertical-align: -2px;
        width: 16px;
    }

    div#main .sleeve #content
    , div#main .sleeve #sidebar
    {
        display: inline-block;
        vertical-align: top;
    }

    div#main .sleeve #content ul
    , div#main .sleeve #sidebar ul
    {
        list-style-type: disc;
        padding-left: 25px;
    }

    div#main .sleeve #content
    {
        width: 60%;
    }

    div#main .sleeve #sidebar
    {
        margin-left: 9%;
        margin-top: 25px;
        width: 30%;
    }
    
    .services-list-icon-container
    , .services-list-copy-container
    {
        display: inline-block;
        vertical-align: top;
    }

    .services-list-copy-container
    {
        width: 75%;
    }

    .services-list-icon-container
    {
        width: 20%;
    }

    .services-list-icon.website-building
    {
        margin-left: 3px;
        margin-top: 0;
        width: 90%;
    }

    .services-list-icon.website-maintenance
    {
        margin-left: 10%;
        margin-top: 20px;
        width: 90%;
    }

    .services-list-icon.testing
    , .services-list-icon.documentation
    , .services-list-icon.training
    , .services-list-icon.web-application-development
    {
        margin-left: 12px;
        margin-top: 20px;
        width: 80%;
    }

    .services-list-icon.testing
    {
        margin-top: 17px;
    }

    .services-list-icon.web-application-development
    {
        margin-top: 7px;
    }

    .services-list-icon.business-process-guidance
    {
        margin-left: 28px;
        margin-top: 30px;
        width: 65%;
    }

    .services-list-icon.web-application-development
    {
        margin-top: 18px;
    }

    .services-list-icon.ios-app-development
    {
        margin-left: 15px;
        margin-top: 25px;
        width: 80%;
    }

    .services-list-icon.not-listed
    {
        margin-left: 53px;
        margin-top: 25px;
        width: 50%;
    }

    .shepherd-dog-image
    {
        float: right;
        margin-left: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
        position: relative;
        vertical-align: top;
        width: 40%;
    }

    .shepherd-dog-image img
    {
        border-radius: 4px;
        display: block;
        margin: 0;
        width: 100%;
    }

    .image-caption
    {
        background-color: hsla(42, 0%, 20%, 0.8);
        border-bottom-right-radius: 4px;
        bottom: 0;
        color: #FEFEFE;
        font-size: 0.7em;
        padding: 2px 5px;
        position: absolute;
        right: 0;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) /* targeting iPad */
{
    nav ul li
    {
        font-size: 0.8em;
    }
}

@media only screen and (max-device-width: 600px) and (orientation: landscape) /* targeting iPhone 6 Plus */
{
    nav ul li
    {
        font-size: 0.8em;
        padding-bottom: 6px
    }

    span.logo
    , span.logo-text
    {
        display: inline-block;
        height: auto;
        width: 130px;
    }

    img.logo.text
    {
        margin-left: .20em;
        margin-top: .20em;
    }

    span.logo
    {
        width: 40px;
    }
}

@media only screen 
and (min-width: 500px)
and (min-device-width: 1024px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 0;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 25em;
    }
    
    .content .about-us-copy
    {
        margin-top: -8em;
    }

    body.home .content .services-overview
    {
        width: 45%;
    }
}

@media only screen 
and (min-width: 600px)
and (min-device-width: 1024px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 0;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 30em;
    }
    
    .content .about-us-copy
    {
        margin-top: -11em;
    }

    body.home .content .services-overview
    {
        width: 45%;
    }
}

@media only screen and (min-width: 700px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 0;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 34em;
    }
    
    .content .about-us-copy
    {
        margin-top: -11em;
    }

    body.home .content .services-overview
    {
        width: 45%;
    }

    .shepherd-dog-image
    {
        width: 60%;
    }

    .services-list-icon.business-process-guidance
    {
        margin-left: 17px;
    }

    .services-list-icon.not-listed
    {
        margin-left: 33px;
        margin-top: 28px;
        width: 50%;
    }

}

@media only screen and (min-width: 800px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 0;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 39em;
    }
    
    .content .about-us-copy
    {
        margin-top: -11em;
    }
}

@media only screen and (min-width: 900px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 0;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 43em;
    }
    
    .content .about-us-copy
    {
        margin-top: -11em;
    }
}

@media only screen and (min-width: 1000px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 0;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 46em;
    }
}

@media only screen and (min-width: 1100px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 0;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 49em;
    }
    
    .content .about-us-copy
    {
        margin-top: -11em;
    }
}

@media only screen and (min-width: 1200px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 0;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 52em;
    }
    
    .content .about-us-copy
    {
        margin-top: -11em;
    }
}

@media only screen and (min-width: 1300px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 0;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 55em;
    }
    
    .content .about-us-copy
    {
        margin-top: -11em;
    }
}

@media only screen and (min-width: 1400px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 0;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 58em;
    }
    
    .content .about-us-copy
    {
        margin-top: -11em;
    }
}

@media only screen and (min-width: 1500px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 0;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 61em;
    }
    
    .content .about-us-copy
    {
        margin-top: -11em;
    }
}

@media only screen and (min-width: 1600px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 0;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 64em;
    }
    
    .content .about-us-copy
    {
        margin-top: -11em;
    }
}

@media only screen and (min-width: 1700px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 0;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 67em;
    }

    .content .about-us-copy
    {
        margin-top: -11em;
    }
}

@media only screen and (min-width: 1800px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 0;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 70em;
    }

    .content .about-us-copy
    {
        margin-top: -11em;
    }
}

@media only screen and (min-width: 1900px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 0;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 71em;
    }

    .content .about-us-copy
    {
        margin-top: -11em;
    }
}

@media only screen and (min-width: 2000px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 0;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 74em;
    }

    .content .about-us-copy
    {
        margin-top: -11em;
    }
}

@media only screen and (min-width: 2100px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 0;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 77em;
    }

    .content .about-us-copy
    {
        margin-top: -11em;
    }
}

@media only screen and (min-width: 2200px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 20%;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 83em;
    }

    .content .about-us-copy
    {
        margin-top: -11em;
    }
}

@media only screen and (min-width: 2300px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 20%;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 84em;
    }

    .content .about-us-copy
    {
        margin-top: -11em;
    }
}

@media only screen and (min-width: 2400px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 20%;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 85em;
    }

    .content .about-us-copy
    {
        margin-top: -11em;
    }
}

@media only screen and (min-width: 2500px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 20%;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 86em;
    }

    .content .about-us-copy
    {
        margin-top: -11em;
    }
}

@media only screen and (min-width: 2600px) {
    .big-background-image
    {
        background-image: url(/media/courthouse.png);
        background-position: 45% 20%;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 87;
    }

    .content .about-us-copy
    {
        margin-top: -11em;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
