/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
    
}

body {
    background-color: #EFEFEF;
    margin: 0 auto;
    width: 1000px;
}

.content {
    margin-top: 50px;
    position: relative;
}

.content p 
{
    font-size: 1.0em;
}

.content a {
    text-decoration: none;
}

.content .about-us
{
    background-image: url(/media/brandy-david-happy.png);
    background-position: -48px -150px;
    background-repeat: no-repeat;
    background-size: auto 830px;
    padding-bottom: 150px;
    text-align: left;
}

.content .about-us-copy
{
    color: #EFEFEF;
    display: inline-block;
    width: 40%;
}

.content .about-us-copy h1, .content .about-us-copy p
{
    background-color: hsla(42, 0%, 20%, 0.9);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    display: inline-block;
    padding: 0 15px;
    padding-left: 5px;
}

.content .bio-image
{
    border-radius: 4px;
    float: right;
    margin-left: 25px;
    margin-bottom: 5px;
    width: 32%;
}

.content .services-menu-list
{
    list-style-type: none;
    padding: 0;
}

.content .services-menu-list li
{
    border: 1px solid black;
    display: inline-block;
    font-size: 0.7em;
    padding: 5px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.content .services-overview
{
    position: relative;
}

.content.who-we-are h2
{
    margin-bottom: 5px;
    margin-top: 35px;
}

nav
{
    padding: 10px;
    position: relative;
    width: 100%;
}

div.logo
{
    display: inline-block;
}

div.logo a
{
    text-decoration: none;
}

.more-info-link a
{
    background-color: hsla(42, 0%, 20%, 0.8);
    border-radius: 4px;
    color: #EFEFEF;
    font-size: 0.8em;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
}

nav ul
{
    display: inline-block;
    vertical-align: -7px;
}

nav ul li
{
    cursor: pointer;
    display: inline-block;
    height: 50px;
    margin-left: 25px;
    text-align: center;
    width: auto;
}

nav ul li img.text
{
    height: 25px;
    margin-left: 0;
    margin-top: 14px;
}

nav .logo img.logo
{
    height: 50px;
}

nav .logo img.logo.text
{
    height: 30px;
    margin-left: 5px;
    margin-top: 10px;
}

nav li a
{
    color: black;
    display: block;
    text-decoration: none;
    vertical-align: bottom;
}

nav li.logo a
{
    padding-top: 0;
}

nav li a:visited
{
    color: black;
}

nav li.active a, nav li a:hover
{
    color: rgba(140, 65, 252, 1);
}

nav .phone-number
, nav .twitter-container
, nav .email-container
{
    background-color: rgba(140, 65, 252, 1.0);
    background-color: hsla(42, 0%, 20%, 0.8);
    border-radius: 4px;
    bottom: -15px;
    color: #EFEFEF;
    display: inline-block;
    font-size: 1.0em;
    margin-right: 15px;
    padding: 5px 10px;
    position: relative;
}

nav .twitter-container a
, nav .twitter-container a:visited
, nav .email-container a
, nav .email-container a:visited
, nav .phone-number a
, nav .phone-number a:visited
{
    color: #EFEFEF;
    text-decoration: none;
}

nav .twitter-image
{
    width: 24px;
}

.services-list
{
    list-style-type: none;
    padding: 0;
}

.services-list-icon-container
, .services-list-copy-container
{
    display: inline-block;
    vertical-align: top;
}

.services-list-copy-container
{
    width: 75%;
}

.services-list-icon-container
{
    width: 20%;
}

.services-list-icon.website-building
{
    margin-top: -30px;
    width: 100%;
}

.services-list-icon.website-maintenance
{
    margin-left: 10%;
    width: 90%;
}

.services-list-icon.testing
, .services-list-icon.documentation
{
    margin-left: 17px;
    width: 80%;
}

.services-list-icon.business-process-guidance
{
    margin-left: 33px;
    margin-top: 15px;
    width: 65%;
}

.services-list-icon.ios-app-development
{
    margin-left: 7px;
    margin-top: 5px;
    width: 100%;
}

.services-list-icon.not-listed
{
    margin-left: 53px;
    margin-top: 17px;
    width: 50%;
}

.shepherd-dog
{
    clear: both;
}

.shepherd-dog-image
{
    float: right;
    margin-left: 25px;
    margin-bottom: 5px;
    position: relative;
    vertical-align: top;
    width: 32%;
}

.shepherd-dog-image img
{
    border-radius: 4px;
    display: block;
    margin: 0;
    width: 100%;
}

.image-caption
{
    background-color: hsla(42, 0%, 20%, 0.8);
    bottom: 0;
    color: #EFEFEF;
    font-size: 0.7em;
    padding: 2px 5px;
    position: absolute;
    right: 0;
}

.shepherd-dog-copy
{
}

footer
{
    font-size: 0.7em;
    margin-top: 100px;
    padding: 15px 10px;
    position: relative;
    width: 100%;
}

#imgTexas {
    height:20px;
    width:20px;
    background-color:transparent;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-device-width: 600px) {
    /* Style adjustments for viewports that meet the condition */
    body
    {
        font-size: 1em;
        height: 100%;
        position: relative;
    }
	
	.content {
       margin-top: 50px;
	   position: relative;
       width: 1000px;
	}

    .content .about-us
    {
        background-image: url(/media/brandy-david-happy.png);
        background-position: 0 -150px;
        background-size: auto 770px;
        padding-bottom: 50px;
        text-align: left;
    }

	#imgTexas {
       background-color: transparent;
	   height: 50px;
	   width: 50px;
	}

    nav .phone-number
    , nav .twitter-container
    , nav .email-container
    {
        background-color: rgba(140, 65, 252, 1.0);
        background-color: hsla(42, 0%, 20%, 0.8);
        border-radius: 4px;
        bottom: auto;
        color: #EFEFEF;
        font-size: 0.8em;
        left: auto;
        margin: 0;
        padding: 5px 10px;
        position: absolute;
        right: 30px;
        top: 6px;
    }

    nav .email-container
    {
        top: 38px;
    }

    nav .twitter-container
    {
        top: 70px;
    }

    nav .twitter-container a
    , nav .twitter-container a:visited
    , nav .email-container a
    , nav .email-container a:visited
    , nav .phone-number a
    , nav .phone-number a:visited
    {
        color: #EFEFEF;
        text-decoration: none;
    }

    nav .twitter-image
    {
        width: 16px;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
